1.Add a key to a dictionary

In [ ]:
car={
    "brand":"ford",
    "model":"mustang",
    }
car["year"]=1964
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

2.Concatenate any three dictionaries to create a new one

In [ ]:
a = {"brand":"ford"}
b = {"model":"mustang"}
c = {"year":1964}
d = {}
d.update(a)
d.update(b)
d.update(c)
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

3.Write a Python program to iterate over dictionaries using for loops.

In [ ]:
car={
    "brand":"ford",
    "model":"mustang",
    }
for x in car:
  print(x,car[x])

brand ford
model mustang

4.Write a Python script to generate and print a dictionary that contains a
number (between 1 and n) in the form (x: x*x).

In [ ]:
n = int(input("enter a number"))
d = dict()
for i in range (1,n):
   d[i]=i*i
print(d)

enter a number5
{1: 1, 2: 4, 3: 9, 4: 16}

5.Write a Python script to merge two Python dictionaries

In [ ]:
a = {"brand":"ford"}
b = {"model":"mustang"}
c = {}
c.update(a)
c.update(b)
print(c)

{'brand': 'ford', 'model': 'mustang'}

6.Write a Python program to sum all the values in a dictionary.

In [ ]:
car={
   "a":10,
   "b":20
    }
result = sum(car.values())
print(result)

30

In [ ]:
7.Write a Python program to multiply all the values in above dictionary

In [ ]:
x = {1:2,2:3,3:4,4:5,5:6}
result = 1
for i in x.values():
  result *= i
print(result)

720

8.Write a Python program to remove a key from a dictionary.

In [ ]:
car={
    "brand":"ford",
    "model":"mustang",
    }
car.pop("model")
print(car)

{'brand': 'ford'}

9.Write a Python program to map two lists into a dictionary.

In [ ]:
x = ["a","b","c"]
y = [1,2,3]
z = d

{'a': 1, 'b': 2, 'c': 3}

10.Write a Python program to remove duplicates from the dictionary

In [ ]:
x = {"a":1,"b":2,"c":2}
result = {}
for keys,values in x.items():
  if values not in result.values():
    result[keys]=values
print(result)

{'a': 1, 'b': 2}

1. Write a program that creates a dictionary of numbers and their squares. Print
the square of a specific number.

In [ ]:
x = {}
for i in range(1,5):
      x[i]=i*i
print(x)
print(x[2])

{1: 1, 2: 4, 3: 9, 4: 16}
4

2. Write a program that creates a dictionary of countries and their capitals. Add
a new country-capital pair to the dictionary and print the updated dictionary.

In [ ]:
x = {"india":"delhi",
     "america":"newyork"
     }
x["japan"]="tokiyo"
print(x)

{'india': 'delhi', 'america': 'newyork', 'japan': 'tokiyo'}

In [ ]:
x = {"india":"delhi",
     "america":"newyork"
     }
z = {"japan":"tokiyo"}
x.update(z)
print(x)

{'india': 'delhi', 'america': 'newyork', 'japan': 'tokiyo'}

3. Write a program that creates a dictionary of student names and their grades.
Update the grade of a specific student and print the updated dictionary.

In [ ]:
x = {
    "shihab":"a+",
    "salman":"a+",
    "amal":"a"
    }
x["amal"]="a+"
print(x)

{'shihab': 'a+', 'salman': 'a+', 'amal': 'a+'}

4. Write a program that creates a dictionary of car brands and their models.
Remove a specific brand from the dictionary and print the updated
dictionary.

In [ ]:
car = {
    "nissan":"gtr",
    "ford":"mustang",
    "toyota":"supra"
     }
car.pop("ford")
print(car)

{'nissan': 'gtr', 'toyota': 'supra'}

 5. Write a program that creates a dictionary of cities and their populations. Use
a loop to print each city and its population.

In [ ]:
c = {
    "kuttiyadi":1500,
    "wayanad":2500,
    "kozhikode":3000
    }
for i,j in c.items():
 print(i,j)

kuttiyadi 1500
wayanad 2500
kozhikode 3000

6. Write a program that creates a dictionary of items and their prices. Check if a
specific item is in the dictionary and print a message indicating whether the
item is found.

In [ ]:
items = {
    "pen":10,
    "book":30,
    "pencil":5
     }
if "book" in items:
  print("yes")
else:
  print("no")

yes

7. Write a program that creates a dictionary of students and their ages. Print
the number of students in the dictionary.

In [ ]:
students = {
    "studenta":21,
    "studentb":22,
    "studentc":19
     }
len(students)

3

8. Write a program that creates a dictionary where each key is a student's
name, and the value is another dictionary containing their subjects and
corresponding grades. Print the nested dictionary.

In [ ]:
cars = {
    "car1":{
        "brand":"ford",
        "model":"mustang",
        "year":1968
       },
    "car2":{
        "brand":"toyota",
        "model":"supra",
        "year":1988
    },
    "car":{
        "brand":"nissan",
        "model":"gtr",
        "year":1994
    }
      }
print(cars)

{'car1': {'brand': 'ford', 'model': 'mustang', 'year': 1968}, 'car2': {'brand': 'toyota', 'model': 'supra', 'year': 1988}, 'car': {'brand': 'nissan', 'model': 'gtr', 'year': 1994}}

Check Prime Number:
Write a function is_prime(n) that takes a number as an argument and returns True if the
number is a prime, otherwise False.